<div class="row">
  <div class="col-sm-12">
    <h2>Groups {{link-to "New Group" "groups.new" class="btn btn-primary pull-right"}} </h2>
    {{group-search-form onFilter=(action 'filter')
      owner=owner
      tags=tags
      query=q}}

  </div>
</div>
<div class="row">
  <div class="col-sm-12">
  {{#if hasResults}}

    <table class="table table-striped">
      <thead>
        <th>Title</th>
        <th>Access</th>
        <th>Owner</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {{#each model.results as |group|}}
        <tr>
          <td>{{link-to group.title 'groups.group' group}}</td>
          <td>{{group.access}}</td>
          <td>{{group.owner}}</td>
          <td>
            {{#link-to 'groups.group.edit' item  class="btn btn-default" }}<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{{/link-to}}
            <button type="button"  class="btn btn-danger" {{action "destroy" group}}> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            <a href="{{agoGroupsBaseUrl}}?id={{group.id}}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-share"></span></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="alert alert-warning">No items found for query {{q}}.</div>
  {{/if}}
  </div>
</div>
{{log filtered}}
