
<div class="row">
  <div class="col-sm-12">
    <h2>{{model.user.username}}</h2>
    <p>This is really really basic - the check / add / delete stuff works, but the list does not update.</p>
  </div>
  <div class="col-sm-6">
    {{input value=folderName}}
    <button class="btn btn-default" {{action 'checkFolderExists' folderName}}>Check Exists</button>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-default" {{action 'addFolder' folderName}}>Add Folder</button>
  </div>
  <div class="col-sm-12">
    {{folder}}
    <table class="table table-striped">
      <thead>
        <th>Folder Name</th>
        <th>Id</th>
      </thead>
      <tbody>
        {{#each model.folders as |f|}}
        <tr>
          <td>{{f.title}}</td>
          <td>{{f.id}}</td>
          <td><button class="btn btn-sm btn-danger" {{action 'removeFolder' f}}>Delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{outlet}}
