<div class="row">
  <div class="col-sm-12">
    <h2>Edit {{model.title}}
      <button type="button" name="button" class="btn btn-default pull-right"{{action 'cancel'}}>Cancel</button>
      <button type="button" name="button" class="btn btn-primary pull-right"{{action 'save'}}>Save</button></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>Sharing: {{model.item.access}}</h4>
    <p>This only handles sharing to the org or everyone</p>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" {{action 'shareWithGroups'}}>Only Existing Groups</button>
      <button type="button" class="btn btn-default" {{action 'shareWithOrg'}}>Org</button>
      <button type="button" class="btn btn-default" {{action 'shareWithEveryone'}}>Everyone</button>
    </div>
  </div>
  <div class="col-sm-6">
      <h3>Item Json</h3>
    {{json-editor json=itemJson mode="code" onChange=(action (mut itemJson))}}
  </div>
  <div class="col-sm-6">
    <h3>Data Json</h3>
    {{json-editor json=dataJson mode="code" onChange=(action (mut dataJson))}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{item-resources item=model.item
      onFetchResources=(action 'fetchResources')
      onRemoveResource=(action 'removeResource')
      onUploadFile=(action 'uploadFile')
      onJsonUpload=(action 'sendJson')
      onTextUpload=(action 'sendText')
      }}
  </div>
</div>
