<div class="row">
  <div class="col-sm-12">
    <h2>{{model.item.title}}
      <button type="button" name="button" class="btn btn-default pull-right"{{action 'cancel'}}>Cancel</button>
      <button type="button" name="button" class="btn btn-primary pull-right"{{action 'save'}}>Save</button></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h4>Sharing: {{model.item.access}}</h4>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" {{action 'shareWithGroups'}}>Only Existing Groups</button>
      <button type="button" class="btn btn-default" {{action 'shareWithOrg'}}>Org</button>
      <button type="button" class="btn btn-default" {{action 'shareWithEveryone'}}>Everyone</button>
    </div>
    <h4>Protected: {{model.item.protected}}</h4>
    <p>Set Delete Protection</p>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" {{action 'protectItem'}}>Protect</button>
      <button type="button" class="btn btn-default" {{action 'unprotectItem'}}>Unprotect</button>
    </div>
  </div>
  <div class="col-sm-6 form-inline">
    <h4>Share to Group</h4>
    <div class="form-group">
      <label>Group to Share To</label>
      {{input class="form-control" value=groupId placeholder="Group ID"}} <button class="btn btn-default" {{action 'shareToGroup'}}>Share</button>
    </div>
    <br>
    {{sharingMessage}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
      <h3>Item Json</h3>
    {{json-editor json=model.item mode="code" onChange=(action (mut model.item))}}
  </div>
  <div class="col-sm-6">
    <h3>Data Json</h3>
    {{json-editor json=model.data mode="code" onChange=(action (mut model.data))}}
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <h3>Thumbnail</h3>
    <img src="{{thumbnailUrl}}">
    <div>
      {{file-input onFileSelected=(action 'uploadThumbnail') name='thumbnail' id='thumbnail' }}
      <label for="thumbnail"><span class="glyphicon glyphicon-cloud-upload"></span>Upload Thumbnail</label>
    </div>

  </div>
  <div class="col-sm-7">
    {{item-resources item=model.item
      onFetchResources=(action 'fetchResources')
      onRemoveResource=(action 'removeResource')
      onUploadFile=(action 'uploadFile')
      onJsonUpload=(action 'sendJson')
      onTextUpload=(action 'sendText')
      }}
  </div>
</div>
<div class="row">

</div>
