<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-danger" role="alert">
      <h4>A word of caution...</h4>
      Editing a Portal directly is a very useful and very powerful, but like table saws and
      wood-chippers, things can go really badly if you are not careful.
      <br>
      <strong>Please...</strong> do not make ANY changes here if you are not 100% sure about what you are doing.
    </div>
  </div>

  <div class="col-sm-6">
    <h3>Portal Settings </h3>
    <ul>
      <li>Name: {{model.portal.name}}</li>
      <li>Id: {{model.portal.id}}</li>
      <li>Access: {{model.portal.access}}</li>
      <li>All SSL: {{model.portal.allSSL}}</li>
      <li>Platform SSO: {{hasPlatformSSO}}</li>
      <li>Notifications Enabled: {{model.portal.notificationsEnabled}}</li>
      <li>Created: {{createDate}}</li>
      <li>Modified: {{modifyDate}}</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h3>Toggle Platform SSO</h3>
    {{#if hasPlatformSSO}}
      <button class="btn btn-danger" {{action "disablePlatformSSO"}}>Disable Platform SSO</button>
    {{else}}
      <button class="btn btn-success" {{action "enablePlatformSSO"}}>Enable Platform SSO</button>
    {{/if}}
    <h3>Toggle Notifications Enabled</h3>
    {{#if model.portal.notificationsEnabled}}
      <button class="btn btn-danger" {{action "toggleNotifications" false}}>Disable Notifications</button>
    {{else}}
      <button class="btn btn-success" {{action "toggleNotifications" true}}>Enable Notifications</button>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h3>Portal Properties<button class="btn btn-primary pull-right" {{action 'saveChanges'}}>Save Properties</button></h3>
    {{json-editor json=propertiesJson mode="code" onChange=(action (mut propertiesJson))}}
  </div>
  <div class="col-sm-4">
    <h3>Usr Default<button class="btn btn-primary pull-right" {{action 'saveUserDefaults'}}>Save User Defaults</button></h3>
    {{json-editor json=userDefaultsJson mode="code" onChange=(action (mut userDefaultsJson))}}
    <h5>Example</h5>
    <p>All properties are required!</p>
    <pre>
      <code>
{{userDefaultsExample}}
      </code>
    </pre>
  </div>
  <div class="col-sm-4">
    <h3>Signin Settings <button class="btn btn-primary pull-right" {{action 'saveSigninSettings'}}>Save Sign In Settings</button></h3>
    {{json-editor json=signinSettingsJson mode="code" onChange=(action (mut signinSettingsJson))}}
    <h5>Example</h5>
    <p>enableArcGISAutoSignups only avail. on community orgs</p>
    <pre>
      <code>
{{signinSettingsExample}}
      </code>
    </pre>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{portal-resources
      onFetchResources=(action 'fetchResources')
      onRemoveResource=(action 'removeResource')
      onUploadFile=(action 'uploadFile')
      onJsonUpload=(action 'sendJson')
      }}
  </div>
  <div class="col-sm-12">
    <h3>Portal Json</h3>
    <pre>
      <code>
{{jsonPortal}}
      </code>
    </pre>
  </div>
</div>
