<div class="row">
  <div class="col-sm-12">
    <h2>Bulk Delete</h2>
    {{item-search-form onFilter=(action 'filter')
      owner=owner
      tags=tags
      type=type
      typeKeywords=typeKeywords
      query=query}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{#if totalCount}}
      <h4>Found {{totalCount}} Items <button class="btn btn-danger" {{action 'prenuke'}}>Delete all {{totalCount}}</button></h4>
      {{#if showConfirmation}}
      <div class="col-sm-6 col-md-offset-3">
        <div class="panel panel-danger">
          <div class="panel-heading">BULK DELETE!!!</div>
          <div class="panel-body">
            <p>Please be aware that there is no undo. This will delete all the items that match the current criteria. Done. Gone. Finito.
            Also this may take a while... so kick back while we abuse the API.
            </p>
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="{{progressStyle}}">
                <span class="sr-only">0% Complete</span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button class="btn btn-danger btn-block" {{action 'nuke' totalCount}}>Yes, I get it - Delete all {{totalCount}} items</button><
          </div>
        </div>
      </div>
      {{/if}}
      <table class="table table-striped">
        <thead>
          <th>Title</th>
          <th>Access</th>
          <th>Owner</th>
          <th>Type</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {{#each model.results as |item|}}
          <tr>
            <td>{{#link-to 'items.item.index' item}}{{item.title}}{{/link-to}}<br>
              {{#if item.tags}}
                <small style="display:block;width:400px">
                  {{#each item.tags as |tag|}}
                  {{#link-to 'items.index' (query-params tags=tag)}}{{tag}}{{/link-to}} &nbsp;
                  {{/each}}
                </small>
              {{/if}}
            </td>
            <td>{{item.access}}</td>
            <td>{{#link-to 'items.index' (query-params owner=item.owner)}}{{item.owner}}{{/link-to}}</td>
            <td>{{#link-to 'items.index' (query-params type=item.type)}}{{item.type}}{{/link-to}}</td>
            <td>
              {{#link-to 'items.item.edit' item  class="btn btn-default" }}<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{{/link-to}}
              <button type="button"  class="btn btn-danger" {{action "destroy" item}}> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
              <a href="{{portalItemUrl}}{{item.id}}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{list-pager model=model}}
    {{else}}
    <div class="alert alert-warning">No items found for query {{q}}.</div>
    {{/if}}
  </div>
</div>
