<div class="form-group">
  <div class="input-group">
    {{input value=query class="form-control" placeholder="Search"}}
     <span class="input-group-btn">
       <button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"></span></button>
     </span>
   </div><!-- /input-group -->
   {{input value=owner class="form-control" placeholder="Owner"}}
   {{input value=type class="form-control" placeholder="Type"}}
   {{input value=typeKeywords class="form-control" placeholder="Type Keywords"}}
   {{input value=tags class="form-control" placeholder="Tags"}}
   {{input value=properties class="form-control" placeholder="Properties"}}
</div>
