{{#if isLoading}}
<h3>Loading resources...</h3>
{{else}}
  <h3>Resources</h3>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {{#each model.resources as |res|}}
      <tr>
        <td><a href="{{resourceBaseUrl}}{{res.resource}}?token={{token}}" target="_blank">{{res.resource}}</a></td>
        <td><button type="button"  class="btn btn-danger" {{action "destroy" res}}> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{file-input onFileSelected=(action 'filesChanged') name='file' id='file' }}
  <label for="file"><span class="glyphicon glyphicon-cloud-upload"></span>Upload Resource</label>
{{/if}}
