<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <th>Item Title</th>
        <th>Id</th>
        <th>Type</th>
        <th>Owner</th>
      </thead>
      <tbody>
        {{#each model.items.items as |item|}}
          <tr>
            <td>{{item.title}}</td>
            <td>{{item.id}}</td>
            <td>{{item.type}}</td>
            <td>{{item.owner}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <th>Username</th>
        <th>Revoke Access</th>
      </thead>
      <tbody>
        {{#each model.users.users as |user|}}
          <tr>
            <td>{{user}}</td>
            <td><button type="button" class="btn btn-danger" {{action "remove" user}}> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
          </tr>
        {{/each}}
        {{#each model.users.admins as |user|}}
          <tr>
            <td>{{user}}</td>
            <td><button type="button" class="btn btn-danger" {{action "remove" user}}> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>


</div>
<div class="row">
    <div class="col-sm-12">
        <form {{action 'sendMessage' model.groupId model.messageModel on="submit"}}>
          <div class="form-group">
            <label for="subject">Subject</label>
            {{input class="form-control" id="subject" placeholder="Subject" value=model.messageModel.subject}}
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            {{textarea rows="8" cols="80" class="form-control" id="message" placeholder="Message" value=model.messageModel.message}}
          </div>
          <button type="submit" class="btn btn-default">Send</button>
        </form>
    </div>
</div>
